@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Poppins', sans-serif;*/

body,
html {
    margin: auto;
    padding: auto;
    font-family: 'Poppins';
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    z-index: 9999;
}

.navbar a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 20px;
    transition: .7s;
}

.navbar .profile {
    color: #000;
}

.navbar .navbar-contact-me {
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 50px;
    border: 1px solid black;
    padding: 15px 40px;
    background-color: #000;
    border-radius: 25px;
}

.navbar a:hover,
.navbar a:active {
    color: #000000;
}

.profile-content {
    position: relative;
    width: auto;
    height: 100vh;
    background: url('../asset/gambar/fotoprofil.png');
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: right;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.content-cover {
    max-width: 700px;
    line-height: 25px;
    padding-left: 10%;
    color: #000000;
}

.content-cover h2 {
    font-size: 40px;
}

.content-cover h2 span {
    opacity: 50%;
}

.content-cover h3 {
    font-size: 32px;
}

.content-cover p {
    padding: 10px 0 40px 0;
}

.button a {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #000000;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
}





footer {
    background: #20222C;
    padding: 10px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo {
    width: 100px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #ffffff;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}


.page-content {
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.table {
    display: table-cell;
    text-align: center;
    padding: 1rem;
}

.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(1, 37, 78);
    color: white;
    text-align: center;
}

.teks {
    list-style-type: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
}

b {
    color: white;
}


h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

.table {
    display: table-cell;
    text-align: center;
    padding: 1rem;
}

.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.copyright {
    color: white;
}