@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Poppins', sans-serif;*/

body,
html {
    margin: auto;
    padding: auto;
    font-family: 'Poppins';
    background: url('../asset/gambar/coverpage4.png');
    background-position: top center;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    z-index: 9999;
}

.navbar a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 20px;
    transition: .7s;
}

.navbar .profile {
    color: #000;
}

.navbar .navbar-contact-me {
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 020px;
    margin-right: 50px;
    border: 1px solid grey;
    padding: 15px 40px;
    background-color: #000;
    border-radius: 25px;
}

.navbar a:hover,
.navbar a:active {
    color: #000;
}

.cover {
    display: grid;
    place-items: center;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 500px;
}

.cover h1 {
    font-size: 90px;
}

.cover h3 {
    font-size: 30px;
    margin-top: -40px;
}

.cover a {
    margin-top: -20px;
    border: 1px solid #20222C;
    text-decoration: none;
    color: #ffffff;
    padding: 15px 50px;
    background-color: #20222C;
    border-radius: 30px;
}

.judul-konten h3 {
    text-align: center;
    font-size: 30px;
}

.gambar-makanan-1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: -40px;
    margin-left: 8%;
    margin-right: 5%;
    width: auto;
    float: left;
}

.makanan-1 {
    margin-left: 5%;
    margin-right: 5%;
}

.makanan-1 h4 {
    font-size: 20px;
}

.makanan-1 p {
    text-align: justify;
}

.gambar-makanan-2 {
    display: flex;
    margin-top: 20px;
    margin-bottom: -40px;
    margin-left: 8%;
    margin-right: 5%;
    width: auto;
    float: left;
}

.makanan-2 {
    margin-left: 5%;
    margin-right: 5%;
}

.makanan-2 h4 {
    font-size: 20px;
}

.makanan-2 p {
    text-align: justify;
}

.gambar-makanan-3 {
    display: flex;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 5%;
    width: auto;
    float: left;
}

.makanan-3 {
    margin-left: 5%;
    margin-right: 5%;
}

.makanan-3 h4 {
    font-size: 20px;
}

.makanan-3 p {
    text-align: justify;
}


.judul-snack h3 {
    text-align: center;
    font-size: 30px;
}

.gambar-snack-1 {
    display: flex;
    margin-top: 20px;
    margin-left: 8%;
    margin-right: 5%;
    width: auto;
    float: right;
}

.snack-1 {
    margin-left: 5%;
    margin-right: 5%;
}

.snack-1 h4 {
    font-size: 20px;
}

.snack-1 p {
    text-align: justify;
}

.gambar-snack-2 {
    display: flex;
    margin-top: -20px;
    margin-left: 8%;
    margin-right: 5%;
    width: auto;
    float: right;
}

.snack-2 {
    margin-left: 5%;
    margin-right: 5%;
}

.snack-2 h4 {
    font-size: 20px;
}

.snack-2 p {
    text-align: justify;
}


footer {
    background: #20222C;
    margin-top: 40%;
    padding: 10px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo-footer {
    width: 100px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #ffffff;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}


.page-content {
    min-height: 100vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.table {
    display: table-cell;
    text-align: center;
    padding: 1rem;
}

.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(1, 37, 78);
    color: white;
    text-align: center;
}

.teks {
    list-style-type: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    padding: 14px 16px;
    text-decoration: none;
}

b {
    color: white;
}


h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

.table {
    display: table-cell;
    text-align: center;
    padding: 1rem;
}

.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.copyright {
    color: white;
    font-size: 14px;
    opacity: 50%;
}